p::first-line{
    color: blueviolet;
}

p::first-letter{
    color: brown;
    font-size: 40px;
}

p::before,
p::after{
    content: "''";
    font: 800;
    font-size: xx-large;
    color: brown;
    font-size: 40px;
}
 p::selection{
    background-color: aquamarine;
 }

 ul li::marker{
    color: orange;
 }